template_repository:
  name: my_temp_repo
  path: deepikasl/old-templates
  branch: main
  
git_integration_name: deepikaGithub

release_template:
  pipelineName: Release_Template
  stepName: validate_and_release_template
  path: templates/jfrog_name_space/myPipelineTemplate
  version: 0.0.1
