sample_step_1:
  name: sample_step_1
  type: Bash

Pipeline:
  name: foo

GitRepo:
  name: fooGitRepo
  gitProvider: deepikaGithub
  path: deepikasl/jfrog_pipelines
  branches:
    exclude: 'master'
    include: {{gitBranch}}

artifactoryIntegration: art

Image:
  name: fooImage
  sourceRepository: foo
  autoPull: false

DockerBuild:
  name: foobuild
  dockerImageName: foo
  dockerFileName: foo
  dockerFileLocation: '.'
  dockerImageTag: ${run_number}

DockerPush:
  name: foopush
  targetRepository: foo

BuildInfo:
  autoPublishBuildInfo: true
  name: fooBuildInfo
